<p>
  I'm programmer, specialising in Front-end development. I'm living and studing
  in Minsk now. And I desire to have a good job :)
</p>
<p>
  I'm fond of finding resolve of some interesting tasks, creating a visual part
  of application, working with interfaces and self-developing. So, in the
  future, when I get a big experience in Front-end direction, I wish to learn
  adjacent vectors of web delelopment.
</p>
<p>
  I've got about 1 year of work experience in Innowise Group, where I've been
  working on several Pet-projects and one internal project.
</p>
<p>
  Outside of work, I like cooking some intersting dishes (cheesecakes for
  example). Also I'm studying in Faculty of Applied Mathematic and Computer
  Science, where I lead a science direction.
</p>
