:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.item {
  .content {
    border: 1px solid var(--surface-d);
    border-radius: 3px;
    text-align: center;
    padding: 1rem 0;
    margin: 0.3rem;
  }

  .image {
    width: 50%;
  }
}
