<button
  pButton
  pRipple
  type="button"
  class="p-button-rounded p-button-secondary"
>
  <a
    href="https://www.linkedin.com/in/evgeniy-shevtsov-8a9091236/"
    target="”_blank”"
  >
    <i class="pi pi-linkedin"></i>
  </a>
</button>
<button
  pButton
  pRipple
  type="button"
  class="p-button-rounded p-button-secondary"
>
  <a href="https://github.com/PblCbGomel" target="”_blank”">
    <i class="pi pi-github"></i>
  </a>
</button>
<button
  pButton
  pRipple
  type="button"
  class="p-button-rounded p-button-secondary"
>
  <a href="https://t.me/pblcb_ev" target="”_blank”">
    <i class="pi pi-telegram"></i>
  </a>
</button>
<button
  pButton
  pRipple
  type="button"
  class="p-button-rounded p-button-secondary"
>
  <a href="mainto:yevgeniy.shevtsov.pblcb@mail.ru">
    <i class="pi pi-at"></i>
  </a>
</button>
