@import "primeng/resources/themes/lara-dark-blue/theme.css";

header {
  background-color: #071426;
}

app-settings .p-button {
  color: white;
}

.image {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16),
    0 3px 6px rgba(255, 255, 255, 0.23);
}
