@import "primeflex/primeflex.scss";

* {
  padding: 0;
  margin: 0;

  line-height: 1.5em;
  font-family: "Jost", sans-serif;
}

span {
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
