@import "primeflex/primeflex.scss";

* {
  padding: 0;
  margin: 0;

  line-height: 1.5em;
  font-family: "Jost", sans-serif;
}

span {
  font-size: 20px;
}

h1 {
  font-size: 28px;
}

p {
  font-size: 20px;
}
