@import "primeflex/primeflex.scss";

* {
  padding: 0;
  margin: 0;

  line-height: 1.5em;
  font-size: 16px;
  font-family: "Jost", sans-serif;
}

span {
  font-size: 1.25rem;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

i::before {
  font-size: 6rem;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  padding: 0 1.25rem;
  height: 8vh;
}

@media (max-width: 1024px) {
  * {
    font-size: 12px;
  }
}

@media (max-width: 720px) {
  * {
    font-size: 10px;
  }

  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    height: 6vh;
  }
}

@media (max-width: 600px) {
  span {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  i::before {
    font-size: 8rem;
  }
}
